@model List<Models.LivreViewModel>

<div class="Cont">
    @foreach (var book in Model)
    {
            <a asp-controller="Book" asp-action="Details" asp-route-id="@book.LivreId">
                 
                    <div class="box-image">
                      <img src="~/images/@(book.Couverture + ".jpg")" alt="Book Cover" />
                      <p>@book.Titre</p>
                    </div>
              
            </a>

    }
</div>

<style>
    body {
      margin: 10px;
    }

    .Cont {
      display: flex;
      flex-wrap: wrap;
      gap: 30px; /* or 'space-around' depending on your preference */
      margin: 30px;
    }

    .box-image {
      display: flex;
      flex-direction: column;
      border: 2px solid lightgrey;
      border-radius: 15px;
      height: 300px;
      overflow: hidden;
      margin: 10px;
      position: relative;
      object-fit: contain;
      
    }

    .box-image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .box-image p {
      display: none;
      position: absolute;
      justify-self: center;
      align-self: center;
      text-align: center;
      top: 50%;
      color: black;
      font-size: 1.25rem;
      font-weight: 600;
    }

    .box-image:hover p {
      display: inline;
      text-align: center;
    }

    .box-image:hover img {
      filter: grayscale(2);
      opacity: 0.3;
    }
</style>
